html,
body {
    overflow: hidden;
    margin: 0;
    background-color: #222;
}
main {
    position: relative;
    width: 512px;
    height: 788px;
    margin: 20px auto;
}
canvas {
    width: 512px;
    height: 788px;
}
#ui {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    filter: blur(1px);
    color: #eee;
    text-shadow: #222 -2px -2px 2px, #222 2px -2px 2px, #222 2px 2px 2px, #222 -2px 2px 2px;
    font: 36px Arial, sans-serif;
    font-weight: bold;
}
.screen {
    position: relative;
    width: 512px;
    height: 384px;
    overflow: hidden;
}
.view {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 512px;
    height: 384px;
    display: grid;
    place-items: center;
}
.toast {
    position: absolute;
    animation: 1s ease-in-out both slide-from-bottom, 1s ease-in-out both fade-out;
}
.alert {
    background: #fc6;
    border: 10px solid #c60;
    display: grid;
    place-items: center;
    width: 384px;
    min-height: 192px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
p {
    margin: 0 0 20px;
}
.button {
    background: #393;
    border: 5px solid #060;
    border-radius: 10px;
    padding: 10px;
}
.button:hover {
    background: #6c0;
}
#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 512px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAAGUlEQVQI12NgQAWKTGgCDBgCjAwMDIrIAgAJYABIO2lURgAAAABJRU5ErkJggg==);
    pointer-events: none;
}
#hinge {
    position: absolute;
    top: 384px;
    width: 512px;
    height: 20px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(136, 136, 136, 1) 60%,
        rgba(153, 153, 153, 1) 70%,
        rgba(153, 153, 153, 1) 72%,
        rgba(0, 0, 0, 1) 100%
    );
}
div[onclick] {
    cursor: pointer;
}
img {
    display: none;
}

@keyframes slide-from-left {
    0% {
        left: -1000px;
    }
    25% {
        left: 50px;
    }
    90% {
        left: -50px;
    }
    100% {
        left: -1000px;
    }
}

@keyframes slide-from-right {
    0% {
        right: -1000px;
    }
    25% {
        right: 30px;
    }
    90% {
        right: -30px;
    }
    100% {
        right: -1000px;
    }
}

@keyframes slide-from-bottom {
    0% {
        top: 1000px;
    }
    75% {
        top: -30px;
    }
    100% {
        top: 0;
    }
}

@keyframes fade-out {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    75% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, 0.2);
    }
}

@keyframes title {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes gone {
    0% {
        transform: rotate(1800deg) scale(0);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}
